.card-img {
	width: auto;
}

.card-img-top {
	height: 193px;
}

.card-img-top > img {
    max-width: 100%;
    height: 100%;
	margin-left: 20.5%;
}

.card .btn {
	width: 2.8rem;
}

.card .price {
	font-size: 1.4rem;
}